#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.Container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  background: #f0f2f5;
}

.card {
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  border: none;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #2c3e50;
  font-size: 1.4em;
  margin: 10px 0;
  font-weight: bold;
}

.card p {
  color: #7f8c8d;
  font-size: 0.9em;
  margin: 5px 0;
}

.card p:nth-child(3) {
  color: #e74c3c;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #ecf0f1;
}
